* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background: #ECEFF4;
}
.Logo {
	width: 100%;
	height: 70px;
	border: 1px solid #000;
	background: #000;
}
img {
	width: 50px;
	position: relative;left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}
li {
	list-style: none;
}	

span i {
	cursor: pointer;
	color: #fff;
}
a {
	height: 50px;
	line-height: 0px;
	padding: 0px 18px;
	color: #fff;
	text-decoration: none;
	display: block;
	position: relative;top: -35px;
	left: 800px;
	font-size: 20px;
}

h2 {
	position: relative;left: 80px;
	top: -53px;
	width: 100px;
	color: #fff;
}
.end {
	display: none;
}
.naving {
	display: none;
}
@media (max-width: 991px) {
	img {
		width: 100px;
		margin: 20px;
	}
	#fa {
		color: #fff;
		position: relative;top: 36px;
		font-size: 120px;
		width: 100px;
		left: 140px;
	}
	#fd {
		color: #fff;
		position: relative;top: 36px;
		font-size: 120px;
		width: 100px;
		left: 800px;
	}
	#fg {
		color: #fff;
		position: relative;top: 36px;
		font-size: 120px;
		width: 100px;
		left: 500px;
	}
	
	.end {
		display: flex;
		width: 1297px;
		height: 190px;
		position: relative;top: 1846px;
		background: #000;
	}
	#i_b {
		padding: 20px;
		background: #000;
		color: #fff;
		display: none;
		font-size: 50px;
		position: relative;left: 150px;
		height: 100px;
	}
	#i_bs {
		padding: 20px;
		background: #000;
		color: #fff;
		position: relative;
		left: 890px;
		top: -100px;
		display: none;
		font-size: 50px;
		height: 100px;
	}
	.out {
		position: relative;top: 100px;
		font-size: 4em;
		left: 200px;
		display: flex;
		width: 70px;
		height: 4px;
	}
	.block {
		width: 1200px;
		height: 200px;
	}
	.naving {
		display: block;
		font-size: 40px;
	}
	.ed {
		position: relative;top: 600px;
		font-size: 70px;
		height: 60px;
		color: red;
	}
	.div {
		width: 1200px;
		text-align: center;
		font-size: 40px;
		font-weight: 1000;
		height: 1800px;
		position: relative;left: 50px;
		background: #fff;
		top: -230px;
		box-shadow: 10px 5px solid #000;
	}
	.dhs {
		font-size: 90px;
		position: relative;top: 20px;
	}
	.div h3 {
		position: relative;top: 130px;
	}
	.h1 {
		position: relative;top: 230px;
		font-size: 80px;
	}
	.founder {
		position: relative;top: 300px;
		font-size: 60px;
	}
	.login {
		width: 1200px;
		text-align: center;
		font-size: 40px;
		font-weight: 1000;
		height: 1800px;
		position: relative;left: 50px;
		background: #fff;
		top: -230px;
		text-align: center;
		display: none;
		box-shadow: 10px 5px solid #000;
	}
	.login_i {
		font-size: 70px;
		text-align: center;
		position: relative;top: 390px;
		background: #fff;
		border: 2px solid #000;
		padding: 25px;
	}
	.div > button {
		background: #fff;
		padding: 20px;
		position: relative;top: 1130px;
		font-size: 50px;
		border: 2px solid #000;
	}
	.input_sub {
		font-size: 70px;
		text-align: center;
		background: #fff;
		padding: 20px;
		position: relative;top: 500px;
		border: 2px solid #000;
	}
	.email {
		font-size: 70px;
		position: relative;top: 300px;
		padding: 25px;
		text-align: center;
		background: #fff;
		border: 2px solid #000;
	}
	.login h1 {
		font-size: 130px;
	}
	.login .supp {
		position: relative;top: 800px;
	}
	.login h3 {
		position: relative;top: 50px;
	}
	#user {
		position: relative;top: 120px;
		width: 40px;
		height: 30px;
		display: none;
		font-size: 170px;
	}
	i {
		font-size: 79px;
		position: relative;top: -77px;
		left: 0px;
	}
	a {
		width: 100px;
	}
	h2 {
		font-size: 67px;
		position: relative;left: 170px;
		top: -110px;
		width: 20px;
	}
	.search-box:hover > .search-txt {
		width: 440px;
		display: flex;
		transition: 0.5s;
		background: #fff;
	}
	.search-txt {
		border: 1px solid #000;
		text-align: center;
		position: relative;left: 650px;
		top: -125px;
		background: #000;
		border-radius: 60px;
		outline: none;
		padding: 0;
		color: #000;
		float: left;
		padding: 30px;
		font-size: 30px;
		transition: 0.4s;
		line-height: 40px;
		width: 0px;
		display: ;
	}
	.sea {
		position: relative;left: 1100px;
		top: -135px;
	}
	nav {
		display: none;
	}
	.Logo {
		height: 150px;
		width: 1300px;
	}
}